.ctn
    width: 500px
    display: flex
    flex-direction: column
    margin: 0 auto

.left
    text-align: left
    border-right: 1px solid white 

.subName
    text-align: left

.table
    & th
        font-size: 90%
    & td
        font-size: 80%
        width: 70px
